In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = "data/co2_raw.csv"
df = pd.read_csv(file_path)
df = df[df["Code"] == "LUX"][df["Year"] >= 1950][["Year", "Annual CO₂ emissions (per capita)"]]
df.columns = ["year", "co2"]

C:\Users\zaitsevav\AppData\Local\Temp\ipykernel_23856\4178191955.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[df["Code"] == "LUX"][df["Year"] >= 1950][["Year", "Annual CO₂ emissions (per capita)"]]

In [3]:
df

       year        co2
14484  1950  25.014633
14485  1951  30.210049
14486  1952  31.331244
14487  1953  28.677290
14488  1954  28.934362
...     ...        ...
14552  2018  15.748627
14553  2019  15.757939
14554  2020  12.797711
14555  2021  13.185230
14556  2022  11.618432

[73 rows x 2 columns]

In [4]:
df.to_csv("data/HWII_data_Zaitsev.csv", index=False)